<div class="container">
    <div class="row">
        <div class="col-md-6">
                <h4>Total messages Ativities</h4>
              <div class="boxed">
                  <div id="total-number" style="width: 60%; height: 400px;"></div>
              </div>
            </div>
          </div>
        <div class="col-md-6">
                <h4>Total messages Ativities</h4>
              <div class="boxed">
                  <div id="total-number" style="width: 100%; height: 250px;"></div>
              </div>
            </div>
          </div>       
{% endblock %} 
{% block javascript %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
      var data = google.visualization.arrayToDataTable({{no_of_activities_json|safe}});

      var options = {
        title: 'Total Number of Messages',
        hAxis: {title: 'DATE-TIME'},
        vAxis: {title: 'No of Messages'},

        lineWidth: 5,
        series: {
                    0: { color: '#FFFF00' }
                },

      };

      var chart = new google.visualization.AreaChart(document.getElementById('total-number'));
      chart.draw(data, options);
    }
</script>
<!-- {% endblock javascript %}
 -->